.subscribe {
  &_wrapper {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 25px 96px 25px;
    background-color: #1a1a1a;
    max-height: 199px;
    ////
    padding: 45px 0px;

    & > img {
      // padding-top: 22px;
      padding: 35px;
      border: 1px solid #6dbbcc;
      border-radius: 50%;
      background-color: #000;
    }
  }
}

@media (max-width: 845px) {
  .subscribe {
    &_wrapper {
      padding-bottom: 16px;
    }
  }
}

@media (max-width: 800px) {
  .subscribe {
    &_wrapper {
      padding-bottom: 25px;
    }
  }
}

@media (max-width: 688px) {
  .subscribe {
    &_wrapper {
      flex-direction: column;
      max-width: 600px;
      padding-bottom: 10px;
      max-height: 100%;
      margin-bottom: 40px;
      border-radius: 4px;
      padding-top: 30px;

      & > img {
        margin-bottom: 15px;
        // padding-top: 0px;
      }
    }
  }
}
