.main {
  &_root {
    padding: 11px 77px 11px 65px;
    width: auto;
    height: 100%;
    background-color: #000;
    box-sizing: border-box;
  }
  &_wrapper {
    display: flex;
    flex-direction: row;
  }
}


//1236px
@media (max-width: 1330px) {
  .main {
    &_root {
      padding: 11px 25px;
    }
  }
}
