.switch {
  &_wrapper {
    display: flex;
  }

  // &_main {
  //   color: #fff;
  //   background-color: #6dbbcc;
  //   border-radius: 5px;
  //   z-index: 0;
  //   margin: 0 0 16px 0;
  //   padding: 8px 11px;

  //   &_active {
  //     color: rgba(255, 255, 255, 0.5);
  //     background-color: rgba(109, 187, 204, 0.3);
  //     margin: 0 0 16px -3px;
  //     z-index: 1;
  //   }
  // }

  &_button {
    color: #fff;
    border-radius: 5px;
    z-index: 0;
    margin: 0 0 16px 0;
    padding: 8px 11px;
    transition: all 0.1s ease-in;

    &_second {
      margin: 0 0 16px -3px;
    }

    &_active {
      color: #fff;
      background-color: #6dbbcc;
      z-index: 1;
    }

    &_basic {
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(109, 187, 204, 0.3);
    }
  }
}
