.subscribe {
  &_wrapper {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 25px 96px 25px;
    background-color: #1a1a1a;
    max-height: 199px;

    & > img {
      padding-top: 22px;
    }
  }
}
