.statistics {
  &_wrapper {
    width: 50%;
    padding-right: 50px;
    border-right: 1px solid #292929;
    padding-top: 40px;
  }

  &_content {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
  }

  &_chart {
    width: 70%;
    height: 100px;
  }
}

@media (max-width: 1330px) {
  .statistics {
    &_wrapper {
      padding-right: 25px;
    }
  }
}

@media (max-width: 1085px) {
  .statistics {
    &_wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: none;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 575px) {
  .statistics {
&_content {
  flex-direction: column;
}

&_chart {
  order: 2;
  margin: 0 auto;
  padding-bottom: 25px;
}
  }
}
