.menu {
  &_root {
    display: flex;
    align-items: center;
    background-color: #000;
  }

  &_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    font-size: 12px;
    margin: 1px 8px 1px 0;
  }
  &_item {
    position: relative;
    padding: 9px 12px;
    list-style-type: none;
    margin: 0 24px 0 0;
    padding: 8px 3px 8px 13px;

    & > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-family: Montserrat;
      line-height: 1.17;
      // transition: color 0.3s ease-in;

      &:hover {
        color: #6dbbcc;
      }
    }

    & > span {
      display: flex;
      align-items: center;
      font-family: Montserrat;
      line-height: 1.17;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #6dbbcc;
      }
    }
  }

  &_dropdown {
    display: none;
    background-color: #1a1a1a;
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 4px;
    text-align: center;
    // min-width: 120px;
    z-index: 5;
    padding-top: 4px;
    transition: opacity 0.2s ease-in;

    & > span {
      color: #fff;
      cursor: pointer;
      display: block;
      padding: 12px 0px;

      &:hover {
        color: #6dbbcc;
      }
    }
  }

  &_dropdownItem {
    position: relative;
    &:hover {
    }
  }

  &_angle {
    margin: 0 0 0 8.6px;
  }
}
