.statistics {
  &_wrapper {
    // max-width: 600px;
    width: 50%;
    padding-right: 50px;
    border-right: 1px solid #292929;
    padding-top: 40px;
    // padding-bottom: 37px;
  }

  &_content {
    display: flex;
    flex-direction: row;
    padding-bottom: 37px;
  }

  &_chart {
    width: 70%;
    height: 100px;
  }
}
