.footer {
  &_wrapper {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    border-top: 1px solid #292929;
    padding: 24px 0px 25px 65px;
  }

  &_blockContainer {
    display: flex;
    justify-content: space-between;
  }

  &_blockItem {
    max-width: 400px;
    text-align: left;
    font-family: Montserrat;
    font-size: 12px;

    &:first-child {
      margin-right: 40px;
    }

    & > h5 {
      color: #fff;
      margin-bottom: 0px;
      font-size: 12px;
      text-transform: uppercase;
    }
    & > p {
      line-height: 1.67;
      margin-top: 6px;
      color: rgba(255, 255, 255, 0.5);

      & > a {
        text-decoration: none;
        color: #6dbbcc;
      }
    }
  }

  &_menuContainer {
    text-align: left;
    & > span {
      color: #fff;

      font-family: Montserrat;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &_menu {
    flex-direction: column;
    justify-self: flex-start;
    font-size: 12px;
    line-height: 1.67;
    color: #6dbbcc !important;
  }
}
